<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="roas">

  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:include filename="$(find roas_bringup)/urdf/uni_base.urdf.xacro" />
  <xacro:include filename="$(find roas_bringup)/urdf/piper_description.xacro" />
  <xacro:include filename="$(find roas_bringup)/urdf/include/d435.urdf.xacro" />

  <!-- ROAS CUSTOM -->
  <link name="top_structure">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://uni_description/meshes/top_structure_roas.stl"/>
      </geometry>
      <material
        name="dark_grey">
        <color
          rgba="0.09 0.09 0.09 1" />
      </material>
    </visual>
  </link>

  <joint name="top_sturcture_joint" type="fixed">
    <parent link="base_link"/>
    <child link="top_structure"/>
    <origin xyz="0 0 -0.04" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  
  <link name="camera_bracket_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://roas_bringup/meshes/include/Piper_D435_Mount.stl"/>
      </geometry>
      <material
        name="dark_grey">
        <color
          rgba="0.09 0.09 0.09 1" />
      </material>
    </visual>
  </link>

  <joint name="camera_bracket_joint" type="fixed">
    <parent link="gripper_base"/>
    <child link="camera_bracket_link"/>
    <origin xyz="0 0 0" rpy="0 -1.57 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <xacro:sensor_d435 parent="camera_bracket_link" name="camera">
    <origin xyz="0.0375 0 0.0623" rpy="0 0 0"/>
  </xacro:sensor_d435>

</robot>
