<?xml version="1.0"?>
<launch>

  <arg name="moveit" default="true"/>
  <arg name="piper" default="true"/>
  
  <include file="$(find roas_bringup)/launch/roas_description.launch"/>
  <include file="$(find roas_bringup)/launch/include/d435.launch"/>
  
  <include if="$(arg piper)" file="$(find piper)/launch/start_single_piper.launch"/>
  <include if="$(arg moveit)" file="$(find piper_moveit)/launch/demo.launch"/>
  
  <group unless="$(arg moveit)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="False"/>
    </node> 

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <param name="publish_frequency" value="100"/>
    </node>
  </group>
</launch>
